/* input:focus {
    outline: none;
    border: 1px solid var(--Gradient, #0a0c88);
} */

/* input:focus:required:invalid {
    outline: none;
    border: 1px solid var(--Gradient, #880a10);
} */

/* input:in-range{
    outline: none;
    border: 1px solid var(--Gradient, #880a10);
} */

input::placeholder {
    color: var(--Deep-Violet, #21092F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Space Grotesk;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.25;
}

.errorText,
.errorDate,
.errorCvv {
    color: var(--Red, #FF5050);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Space Grotesk;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.card-holder,
.card-number,
.Exp-Date,
.cvv-num {
    color: var(--Deep-Violet, #21092F);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Space Grotesk;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

.cardholder,
.atmnumber {
    padding-left: 1rem;
    margin-right: 14.2rem;
    width: 23.8125rem;   
    height: 2.8125rem;
    border-radius: 0.5rem;
    border: 0.0624rem solid var(--Light-Grey, #DFDEE0);
    background: var(--White, #FFF)
}

.atmmonth,
.atmyear {
    padding-left: 1rem;
    margin: 0rem 0.6rem 0rem 0rem;
    width: 5rem;
    height: 2.8125rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 0.0624rem solid var(--Light-Grey, #DFDEE0);
    background: var(--White, #FFF);
}

.cvv {
    padding-left: 1rem;
    margin: 0rem 0rem 0rem 0rem;
    width: 11.9375rem;
    height: 2.8125rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    border: 0.0624rem solid var(--Light-Grey, #DFDEE0);
    background: var(--White, #FFF);
}

.confirmbtn {
    width: 23.8125rem;
    height: 3.3125rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: var(--Deep-Violet, #21092F);
    color: var(--White, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Space Grotesk;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

label {
    display: flex;
    flex-direction: column;
    gap: 0.56rem;
    /* margin-bottom: 1.63rem; */
}

.third {
    display: flex;
    flex-direction: row;
    gap: 0.62rem
}

.errorText,
.errorCvv,
.errorDate {
    color: var(--Red, #FF5050);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Space Grotesk;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}