@import url("https://fonts.cdnfonts.com/css/space-grotesk");

* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
    font-family: Space Grotesk;
}

.Group-10 {
    width: 30.1875rem;
    height: 56.25rem;   
    position: relative;
    background: #21092F;
    overflow: hidden
}

.arc2 {
    width: 15.5rem;
    height: 41.0625rem;
    transform: rotate(45deg);
    border-radius: 41.0625rem;
    opacity: 0.8474;
    background: #D53AFF;
    filter: blur(67.95704650878906px);
    transform-origin: 0 0;
    top: -10.2rem;
    left: 20rem;
    position: absolute
}

.arc4 {
    width: 15.5rem;
    height: 41.0625rem;
    transform: rotate(45deg);
    border-radius: 41.0625rem;
    opacity: 0.8474;
    background: #FF834A;
    filter: blur(67.95704650878906px);
    transform-origin: 0 0;
    top: -7.25rem;
    left: 29rem;
    position: absolute
}

.arc3 {
    width: 15.5rem;
    height: 41.0625rem;
    transform: rotate(45deg);
    border-radius: 41.0625rem;
    opacity: 0.8474;
    background: #47A2FF;
    filter: blur(67.95704650878906px);
    transform-origin: 0 0;
    top: 7.5rem;
    left: 15.2rem;
    position: absolute;
}